/* 9D9C9F spanish grey
4F4D52 dark liver

*/
header{ 
    background-color:;
    text-align: center; 
    padding:1em;
    font-family:  Verdana, sans-serif;
}

.left {
    float:left;
    width:10%;
    height: 100%;
}

nav a {
    list-style:none;
    text-decoration:none;
    color: #9D9C9F;
    display: inline-block;
    padding: 1em;
    font-family: Verdana, sans-serif;;
}
li {
    list-style:none;
}
img {
    max-width:50%;
    max-height:50%;
    
}

nav a:hover {
    background-color:#4F4D52; 
}

#main_content {
    max-width:100%;
    max-height:50%;
    margin:0;
    box-sizing: border-box;
    }

.desk {
        font-size: 80px;
        color:9D9C9F;
    }

aside {
    float:right;
    width:40%;
    height: 40%;
    position: absolute;
    top: 25%;
    left: 55%;
    margin-left:10px;
}

footer {
    position: fixed;
   text-align: center;
   bottom: 0;
   width: 100%;
   background-color: #BFD7B5
   }